<div class="row">
    <h2>Hard & Soft skill</h2>
    <div class="col-lg-2">
    <button type="button" class="btn btn-dark" routerLink="/nuevohys" *ngIf="isLogged">
      Nueva Skill
      </button>
</div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" *ngFor="let skill of skill">
    <circle-progress
    [percent]="(skill.porcentaje)"
    [title]="(skill.nombre)"
    [radius]= "70"
    [imageSrc]="''"
    [titleColor]="'#212F3C'"
    [showTitle]="true"
    [showImage]="false"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="18"
    [innerStrokeWidth]="9"
    [outerStrokeColor]="'blue'"
    [innerStrokeColor]="'yellow'" 
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>

<div class="circulo">
  <td *ngIf="isLogged">
    <button class="btn btn-light"><i class="bi bi-pencil-fill" routerLink="/edithys/{{skill.id}}"></i>EDITAR</button>
    </td>
    <td *ngIf="isLogged">
    <button class="btn btn-dark" (click)="delete(skill.id)"><i class="bi bi-trash-fill"></i>BORRAR</button>
    </td> 
    </div>
    </div>
    </div>
 <!--<div class="campo"> 
                <<button class="btn btn-ligh" (click)="delete"><i data-fa-symbol="delete" class="fas fa-trash fa-fw" *ngIf="isLogged"></i>BORRAR</button>
                <button class=" btn btn-danger"><i data-fa-symbol="edit" class="fas fa-pencil fa-fw" *ngIf="isLogged"></i>EDITAR</button>
            </div>

            <button class="btn btn-danger"><i data-fa-symbol="edit "class="bi bi-pencil-fill" routerLink="/edithys" *ngIf="isLogged"></i>EDITAR</button>
            <button class="btn btn-light"><i data-fa-symbol="delete" class="fas fa-trash fa-fw" *ngIf="isLogged"></i>BORRAR</button>-->
        
