<div class="container">                                      
    <div class="row">
    <div>
        
    <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
      <div class="form-group">
          <label for="habilidades">Habilidades</label>
          <input type="text" class="form-control" id="habilidades" name="habilidades" [(ngModel)]="nombre" name="habilidades" required/>
      </div>
      <div class="form-group">
          <label for="porcentaje">Porcentaje</label>
          <input type="number" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="porcentaje" name="porcentaje" required/>
      </div>
     
        <button class="btn btn-primary">
            Agregar Nueva Skill
        </button>
       </form>
    </div>
    </div>
    </div>
