<div class="container" *ngIf="proyecto">
    <div class="row">
    <div>
        
    <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
      <div class="form-group">
          <label for="nombre">Proyecto </label>
          <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="proyecto.nombre" name="proyecto.nombre" required/>
      </div>
      <div class="form-group">
          <label for="acercaproyec">AcercaProyec</label>
          <input type="text" class="form-control" id="acercaproyec" name="acercaproyec" [(ngModel)]="proyecto.acercaproyec" name="proyecto.acercaproyec" required/>
      </div>
      <div class="form-group">
        <label for="img">Imagen</label>
        <input type="text" class="form-control" id="img" name="img" [(ngModel)]="proyecto.img" name="proyecto.img" required/>
    </div>
    
        <button class="btn btn-primary">
            Actualizar Proyectos
        </button>
       </form>
    </div>
    </div>
