
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" *ngIf="isLogged">

<img src={{persona.img}} class="img-fluid" id="fotoperfil">
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
<p id="nombre">{{persona.apellido}} {{persona.nombre}}</p>
<p>Full Stack Developer Jr</p>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
<span>
    <h1>Acerca de mi</h1>
    <p>{{persona.descripcion}}</p>
</span>
  <p>{{persona.domicilio}}</p>
  <p>{{persona.correo}}</p>

<p><button class="btn btn-danger" *ngIf="isLogged" routerLink="/editper/{{persona.id}}"><i class="bi bi-pencil-fill"></i></button></p>

</div>

</div>
